.cognition
	h2.heading.cognition__heading Уровень владения JavaScript
	.cognition-lane
		input(type="hidden" value="Использую готовые решения и умею их переделывать").cognition-lane__input
		.cognition-lane__progress
			.cognition-lane__pointer.cognition-lane__pointer_animate
		ul.cognition-lane__list
			li.cognition-lane__item
				a(href="#" data-level="0").cognition-lane__anchor Не владею
			li.cognition-lane__item
				a(href="#" data-level="1").cognition-lane__anchor Использую готовые решения
			li.cognition-lane__item
				a(href="#" data-level="2").cognition-lane__anchor Использую готовые решения и умею их переделывать
			li.cognition-lane__item
				a(href="#" data-level="3").cognition-lane__anchor Пишу сложный JS с нуля
