.nerrative
	h2.heading.nerrative__heading Расскажите о себе словами
	.description.nerrative__description.
		Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
	textarea(placeholder="Ну-ууу-уу...").textarea.nerrative__textarea В первую очередь мне хочется работать с профессионалами, так как я хочу развиваться. Я хотел бы развиваться в сторону Angular. Так же мне нравится философия Вашей компании и подход к разработке.
