.summary
	&__field
		margin-bottom 22px

.entry-field
	display flex
	justify-content flex-start
	align-items flex-end
	color headline
	&__label
		flex-shrink 1
		font-size 21px
		font-weight bold
		letter-spacing .9px
		margin 0 16px 0 0
		position relative
		bottom 2px
	&__input
		flex-grow 2
