.info-page
	display flex
	flex-direction column
	align-items center
	margin 0 auto
	padding 68px 0 70px
	width 1000px
	background url('../images/sprites/background.png')
	& > *
		width 778px
	&__header
		margin-bottom 8px
	&__headline
		margin-bottom 56px
	&__summary
		margin-bottom 69px
	&__lore
		margin-bottom 50px
	&__cognition
		margin-bottom 33px
	&__nerrative
		margin-bottom 57px
	&__prospect
		margin-bottom 82px
