.info-page
	.info-page__header
		include ../header/header
	.info-page__headline
		include ../headline/headline
	form
		.info-page__summary
			include ../summary/summary
		.info-page__lore
			include ../lore/lore
		.info-page__cognition
			include ../cognition/cognition
		.info-page__nerrative
			include ../nerrative/nerrative
		.info-page__prospect
			include ../prospect/prospect
		.info-page__date
			include ../date/date
