.lore
	&__heading
		margin-bottom 11px
	&__description
		margin-bottom 28px

.lore-list
	display flex
	&__section
		flex-basis 33.3333333%
	&__checkbox
		margin-bottom 10px
	&__link
		display inline-block
		color #1f5f97
		text-decoration none
		border-bottom 1px solid #1f5f97
		height 23px
		font-weight bold
